/* Try different box model properties below */
.site-header p:last-child {
    color: white;
    margin-left: 5%;
}
.site-header {
    background-color: #4491DB;
    color: white;
    height: 10vh;
    
}

.site-header__title {
    margin-left: 5%;
}

.site-wrapper p:first-child {
    font-size: 12px;
    text-align: center;
}

.messages div:last-child {
    box-shadow: 4px 4px 0 #dba944;
}

.site-wrapper {
    border: 12px solid #25262F;
    width: 35%;
}

.messages {
    background-color: #D6D8E1;
    height: 60vh;
}

.message {
    background-color: white;
    margin-left: 5%;
    width: 80%;
    margin-bottom: 5%;
    margin-top: auto;
}

